.Wrapper {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px;
    text-align:center;
}

.search-input {
    font-size: 1.2em;
    width: 70%;
  }