.Google-Map {
    height: 60vh;
    margin: 10px 50px;
    filter: drop-shadow(-1px 5px 3px #ccc);
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    height: 20vh;
}
