body    {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 8vh;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    height: 20vh;
}

.Google-Map {
    height: 80vh;
    filter: drop-shadow(-1px 5px 3px #ccc);
}