@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.MyMapComponent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.LocationSearchInput    {
    height: 20%;
}

.MyMap  {
    margin-top: 100px;
    height: 70vh;
}

.LocationSearchInput  {
    display: inline;
    justify-self: center;
}

.AddButton  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border: 2px solid black;
    border-color: #e7e7e7;
    color: #555555;
    padding: 14px 28px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.AddButton:hover    {
    background: #555555;
    color: white;
}

.ShowPathButton  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 15%;
    border: 2px solid black;
    border-color: #e7e7e7;
    color: #555555;
    padding: 14px 28px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}

.ShowPathButton:hover    {
    background: #555555;
    color: white;
}

.DestinationList    {
    margin-top: 100px;
    padding-top: 100px;
}